spring:
  jpa:
    hibernate:
      ddl-auto: none # Flyway manages the schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration/common,classpath:db/migration/mysql

# ====== Spring Boot Actuator ======
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  server:
    base-path: /actuator
