name: Java CI with Gradle and Testcontainers

on:
  push:
    branches: [ "main", "develop", "master" ]
  pull_request:
    branches: [ "main", "develop", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Enable Docker
        run: sudo service docker start
      - name: Wait for Docker to be fully ready
        run: |
          echo "Waiting for Docker..."
          sleep 10s # Даем Docker 10 секунд на полную инициализацию
          docker info # Проверяем статус Docker
          docker ps -a # Показываем все контейнеры (если есть)
      - name: Run tests
        run: cd backend && ./gradlew clean build integrationTest jacocoTestReport --no-daemon --stacktrace --debug

      - name: Upload coverage to Codecov
        if: success()
        uses: codecov/codecov-action@v4
        with:
          file: backend/build/reports/jacoco/test/jacocoTestReport.xml
          flags: unittests
          name: codecov-phoebe